@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body{
    height: 100%;
    padding: 50px;
    scroll-behavior: smooth;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-image: url('back.jpg');
    background-size: cover;                
    background-position: center;            
    background-repeat: no-repeat;          
 }

.fixed {
    position: fixed;
    max-width: 600px;
    height: 500px;
    top: 11vw;
    left: 15vw;
    float: right;
}

#container {
  height: 100vw;
  max-width: 600px;
  width: 100vw;
  position: absolute;
  line-height: 1.5;
  margin-left: 45vw;
  margin-right: 10vw;
}

#container > div {
    height: 1200px;
    display: block;
    padding: 0 45px;
}

.tick > line {
    color: rgb(194, 194, 194);
    opacity: 0.5;
}

.center-align{
  text-align: center;
}
.title{
  color: blue;
}
#intro{
  margin-left: -30vw;
}
#tooltip {
  position: fixed;  /* Absolute position to control placement */
  background-color: #fff;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #333;
  pointer-events: none; /* Ensures the tooltip doesn't block interactions with the canvas */
  transition: opacity 0.2s ease-in-out;
  z-index: 15; /* Ensures the tooltip stays on top of the SVG */
}